@using Microsoft.AspNet.Identity
@using VRLibrary.Models
@model LoginViewModel

@if (Request.IsAuthenticated)
{
    <div class="dropdown">
        <button class="dropbtn">@User.Identity.Name</button>
        <div class="dropdown-content">

            @Html.ActionLink("Account Management", "ManageMyAccount", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            <hr>
            @Html.ActionLink("Manage Reservetions", "Index", "Home")
            <hr>
            @Html.ActionLink("Manage Loans", "Index", "Home")
            <hr>
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                }
            }
        </div>
    </div>
}

@if (!Request.IsAuthenticated)
{
    <div class="dropdown">
        <button class="dropbtn">Sign In</button>
        <div class="dropdown-content">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div>
                    @Html.LabelFor(m => m.Email)
                    <div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "Credentials" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                        <div>
                            @Html.LabelFor(m => m.Password)
                            <div>
                                @Html.PasswordFor(m => m.Password, new { @class = "Credentials" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <!---->
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                         <!---->
                        <hr>
                        <div>
                            <div>
                                <input class="SignInButton" type="submit" value="Sign In">
                            </div>
                        </div>

                    <!--NOT WORKING CHANGE IT-->
                        <hr>
                        <div>
                            <div>
                                <input class="FacebookConnectButton" type="submit" value="Facebook Connect">
                            </div>
                        </div>

                        <hr>
                        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "registerButton" })



            }

        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
