@model IEnumerable<VRLibrary.Models.Book>

<p>
    @using (Html.BeginForm("Index", "Books", FormMethod.Get))
    {
    <p class="searchBar searchBarsearch col-md-offset-4" >
        @Html.DropDownList("bookSubject","Θέμα...") 
        <input id="SearchString" name="SearchString" type="text" placeholder="Search..."> 
        <input type="submit" value="Αναζήτηση">
    </p>
    }
</p>
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1169360486485672";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="searchResults">
@{
    int i=1;
    foreach (var item in Model)
    {
        <div class="responsiveBookImg">
            <div class="searchImageDiv">
                <img id="myImg+@i" class="SearchImage" onclick="modalFunction('myImg',@i)" src=@Html.DisplayFor(modelItem => item.ImagePath) width="300" height="200">
                <div id="myImgTitle+@i" class="searchImageTitle"> @Html.DisplayFor(modelItem => item.Title)</div>
                <div id="myImgAuthor+@i" class="onlyModal">@Html.DisplayFor(modelItem => item.Author)</div>
                <div id="myImgPublisher+@i" class="onlyModal">@Html.DisplayFor(modelItem => item.Publisher)</div>
                <div id="myImgISBN+@i" class="onlyModal">@Html.DisplayFor(modelItem => item.ISBN)</div>
                <div id="myImgLibrary+@i" class="onlyModal">@Html.DisplayFor(modelItem => item.Library.Library_Name)</div>
                <div id="myImgShelf+@i" class="onlyModal">@Html.DisplayFor(modelItem => item.Shelf)</div>
                <div id="myImgDescription+@i" class="onlyModal">@Html.DisplayFor(modelItem => item.Description)</div>
                <div id="myImgRating+@i" class="onlyModal">&#9733; @Html.DisplayFor(modelItem => item.Rating)</div>
                <div id="myImgAvailiable+@i" class="onlyModal">Availiable: 3</div>
                <div id="myImgReserved+@i" class="onlyModal">Reserved: 1</div>
                <div id="myImgLoaned+@i" class="onlyModal">Loaned: 2</div>
            </div>
        </div>
        i++;
    }
}
</div>
<!-- The Modal -->
<div id="myModal" class="modal">
    <span class="close">×</span>
    <div class="modal-content">
    <div id="bookinfo">

        <div class="col-sm-3">
            <img id="modalImage">
            <p>Rating: <strong id="modalRating"></strong>/5</p>
            <p id=modalAvailiable></p>
            <p id=modalReserved></p>
            <p id=modalLoaned></p>
        </div>

        <div><div class="col-xs-2"><p>Title:</p></div><div class="col-xs-7"><p id="modalTitle"></p></div></div>
        <div><div class="col-xs-2"><p>Author:</p></div><div class="col-xs-7"><p id="modalAuthor"></p></div></div>
        <div><div class="col-xs-2"><p>Publisher:</p></div><div class="col-xs-7"><p id="modalPublisher"></p></div></div>
        <div><div class="col-xs-2"><p>ISBN:</p></div><div class="col-xs-7"><p id="modalISBN"></p></div></div>
        <div><div class="col-xs-2"><p>Library:</p></div><div class="col-xs-7"><p id="modalLibrary"></p></div></div>
        <div><div class="col-xs-2"><p>Shelf:</p></div><div class="col-xs-7"><p id="modalShelf"></p></div></div>
        <div><div class="col-xs-2"><p>Description:</p></div><div class="col-xs-7"><p id="modalDescription"></p></div></div>

    </div>

        <div class="" data-href="" data-layout="button" data-size="small" data-mobile-iframe="true">
            <a id="modalfacebookShare" class="fb-xfbml-parse-ignore" target="_blank" href="">
                <div class="col-xs-3">
                    <button class="modalButton" type="button" name="button" style="background-color:#3b5998;color:white;">
                        Share on Facebook
                    </button>
                </div>
            </a>
        </div>
    @ViewBag.UserRole
    @if (ViewBag.UserRole == "PendingUser")
    {
        <div class="" data-href="" data-layout="button" data-size="small" data-mobile-iframe="true">
            <a id="modalfacebookShare" class="fb-xfbml-parse-ignore" target="_blank" href="">
                <div class="col-xs-3">
                    <button class="modalButton" type="button" name="button" style="background-color:#3b5998;color:white;">
                        Share on Facebook
                    </button>
                </div>
            </a>
        </div>
    }
    @if (ViewBag.UserRole == "Student")
    {
        <div class="modalDivButtons">
            <div class="col-xs-3">
                <button class="modalButton" type="button" name="Reserve a copy">Reserve a copy</button>
            </div>
            <div class="col-xs-3">
                <button class="modalButton" type="button" name="button">Extend loan</button>
            </div>
            <div class="col-xs-3">
                <div class="dropdownRating">
                    <button class="modalButton" type="button" name="button">Rate this Book &#9733;</button>
                    <div class="rating-dropdown-content ">
                        <div class="rating">
                            <span> &#9734;</span><span> &#9734;</span><span> &#9734;</span><span> &#9734;</span><span> &#9734;</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="" data-href="" data-layout="button" data-size="small" data-mobile-iframe="true">
                <a id="modalfacebookShare" class="fb-xfbml-parse-ignore" target="_blank" href="">
                    <div class="col-xs-3">
                        <button class="modalButton" type="button" name="button" style="background-color:#3b5998;color:white;width:100%;">
                            Share on Facebook
                        </button>
                    </div>
                </a>
            </div>

        </div>
    }
    @if (ViewBag.UserRole == "Librarian" || ViewBag.UserRole == "Admin")
    {
        <div class="col-xs-offset-3 col-xs-3">
            <button class="modalButton" type="button" name="button">Edit book</button>
        </div>
        <div class="col-xs-3">
            <button class="modalButton" type="button" name="button">Check in</button>
        </div>
        <div class="col-xs-3">
            <button class="modalButton" type="button" name="button">Check out</button>
        </div>
    }


    </div>
</div>


    