@model IEnumerable<VRLibrary.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    Subject: <select id="bookSubject" name="bookSubject">
        <option value="">All</option>
    </select>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <br>
    Θέμα: <input id="SearchString" name="SearchString" type="text" value="αναζητηση"> <br>
    <input type="submit" value="Αναζήτηση">
</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shelf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfRaters)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookState1.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Library.Library_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shelf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImagePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfRaters)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookState1.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Library.Library_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookID })
        </td>
    </tr>
}

</table>
