@model IEnumerable<VRLibrary.Models.Loan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateLended)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateReturned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateToBeReturned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Extended)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser1.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reservation.AspNetUserId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateLended)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateReturned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateToBeReturned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Extended)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser1.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reservation.AspNetUserId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LoanId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LoanId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LoanId })
        </td>
    </tr>
}

</table>
