@model IEnumerable<VRLibrary.Models.Reservation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateOfReservation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfReservation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReservationsId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReservationsId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReservationsId })
        </td>
    </tr>
}

</table>
