@model VRLibrary.Models.Library
<div class="responsiveFullPageDiv">
    <div>
        <h4>@Html.DisplayFor(model => model.Library_Name)</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tel)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

        </dl>
    </div>
</div>
